In [1]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [2]:
#Carrega os dados
df_dsa = pd.read_csv('C:/Users/gustavo.gomes/Desktop/Cursos/Power BI/PythonDSA/lab_7/dados/dados_clientes.csv')

In [3]:
df_dsa.head()

   id  idade  renda_anual  pontuacao_gastos
0   1     56        94740                90
1   2     69       136352                50
2   3     46        86617                62
3   4     32       114841                97
4   5     60        36896                51

In [4]:
type(df_dsa)

pandas.core.frame.DataFrame

In [5]:
df_dsa[['idade','renda_anual','pontuacao_gastos']].describe()

            idade    renda_anual  pontuacao_gastos
count  500.000000     500.000000        500.000000
mean    44.732000   81557.166000         48.512000
std     15.239707   36764.379945         29.556946
min     18.000000   20384.000000          0.000000
25%     32.000000   49172.750000         24.000000
50%     45.000000   79219.000000         48.500000
75%     57.000000  113017.250000         73.250000
max     70.000000  149695.000000        100.000000

Pré-Processamento dos Dados

In [6]:
padronizador = StandardScaler()

In [7]:
dados_padronizados = padronizador.fit_transform(df_dsa[['idade','renda_anual','pontuacao_gastos']])

In [9]:
print(dados_padronizados)

[[ 0.74012478  0.35893538  1.40506904]
 [ 1.59401387  1.49192537  0.05039391]
 [ 0.08328703  0.13776654  0.45679645]
 ...
 [-0.31081563  0.32661636  0.18586143]
 [-1.23038848 -1.48706069  1.43893592]
 [-1.03333716 -0.96992912 -0.59307677]]

In [10]:
#Definido o número de clusters(k)
k = 3

In [11]:
#Modelo Kmeans
kmeans = KMeans(n_clusters = k)

In [12]:
kmeans.fit(dados_padronizados)

C:\Users\gustavo.gomes\AppData\Local\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
C:\Users\gustavo.gomes\AppData\Local\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1436: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=2.
  warnings.warn(

KMeans(n_clusters=3)

In [13]:
df_dsa['cluster'] = kmeans.labels_

In [14]:
df_dsa.sample(10)

      id  idade  renda_anual  pontuacao_gastos  cluster
131  132     50        46092                33        2
444  445     33        58765                70        1
447  448     68        73932                48        2
51    52     42        82752                20        2
305  306     54       134821                28        0
449  450     32        77091                85        1
2      3     46        86617                62        1
278  279     58       106188                13        2
177  178     49        86234                78        1
325  326     37       134065                37        0

In [15]:
df_dsa.to_csv('segmentos.csv', index = False)

Relatório Power BI

In [16]:
!pip install -q powerbiclient

In [17]:
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication

In [18]:
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code AP8SJ3E3Y to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

In [19]:
relatorio_PBI = QuickVisualize(get_dataset_config(df_dsa), auth = device_auth)

In [20]:
relatorio_PBI

QuickVisualize()